.gantt-soge-wrapper {
  background: white;
  font-family: 'Segoe UI';
}

.gantt-soge-navbar {
  background: #0078D4;
  color: white;
}
.calendarTop {
  display: flex !important;
  justify-content: space-between !important;
  padding: 8px 16px !important;
}